backend/task_management/task_management/__pycache__/__init__.cpython-38.pyc
backend/task_management/task_management/__pycache__/settings.cpython-38.pyc
backend/task_management/task_management/__pycache__/urls.cpython-38.pyc
backend/task_management/task_management/__pycache__/wsgi.cpython-38.pyc
.vscode/launch.json
